.box-goods {
	margin-bottom: 180px;
}

.goods {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	&__item {
		flex-basis: 13%;
		margin-right: 10px;	
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__square {
		width: 160px;
		height: 160px;
		margin-bottom: 30px;

		background-color: rgba(240, 197, 46, 0.5);
	}

	&__list {
		color: #000000;
		@include Gilroy;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.18px;
	}

	&__item:nth-child(3),
	&__item:nth-child(4),
	&__item:nth-child(5),
	&__item:nth-child(6) {
		padding-bottom: 20px;
	}
}

.product-1 {
	background-image: url('../img/popular-1.svg');
	background-repeat: no-repeat;

	background-position: 50% 50%;
}

.product-2 {
	background-image: url('../img/popular-2.svg');
	background-repeat: no-repeat;

	background-position: 50% 110%;
}

.product-3 {
	background-image: url('../img/popular-3.svg');
	background-repeat: no-repeat;

	background-position: 50% 50%;
}

.product-4 {
	background-image: url('../img/popular-4.svg');
	background-repeat: no-repeat;

	background-position: 50% 50%;
}

.product-5 {
	background-image: url('../img/popular-5.svg');
	background-repeat: no-repeat;

	background-position: 50% 50%;
}

.product-6 {
	background-image: url('../img/popular-6.svg');
	background-repeat: no-repeat;

	background-position: 50% 50%;
}