.wrap {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

.header-container {
	position: relative;
	width: 100%;
	margin-top: 40px;

	background-color: #f7e296;
	z-index: 300;
}


.inner {
	padding: 50px 60px 160px 60px
}

.inner-catalog {
	padding: 50px 60px;
}

.header-box {}

.logo-header {
	position: absolute;
	top: -23px;

	a {
		color: #000000;
		@include Gilroy;
		font-size: 48px;
		font-weight: 400;
		line-height: 48px;
		text-transform: uppercase;
		letter-spacing: 0.26px;
	}

	a:hover {
		opacity: 0.6;
	}

	a:active {
		opacity: 0.3;
	}
}

.top-menu {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 50px;

	&__search-input {
		width: 144px/1140px*100%;
		position: relative;
		margin-left: 16px;
		margin-right: 393px;
		padding-left: 21px;

		input {
			width: 108px;
			padding: 0;

			color: #000000;
			@include OpenS;
			line-height: 15px;
			letter-spacing: 0.15px;

			background-color: transparent;

			border: none;
			outline: none;

			opacity: 0.3;
		}

		input:hover {
			opacity: 0.6;
		}

		input:focus {
			opacity: 1;
		}

		input::placeholder {
			color: #000000;
			@include OpenS;
			line-height: 15px;
			letter-spacing: 0.15px;
		}

		@media (max-width: 1120px) {
			margin-right: 340px;
		}

		@media (max-width: 830px) {
			margin-right: 210px;
		}

		@media (max-width: 620px) {
			margin-right: 110px;
		}
	}

	&__search-input::before {
		position: absolute;
		top: 2px;
		left: -16px;
		display: block;
		content: "";
		width: 16px;
		height: 16px;

		background-image: url("../img/search.svg");

		cursor: pointer;
	}

	&__open-btn {
		width: 69px/1140px*100%;
		margin-left: 13px;
		padding-left: 14px;
		position: relative;
		margin-right: 209px;

		button {
			@include OpenS;
			color: #000000;
			letter-spacing: 0.15px;

			background-color: transparent;

			border: none;

			cursor: pointer;
		}

		@media (max-width: 1120px) {
			margin-right: 40px;
		}
	}

	.top-menu__login {
		width: 25%;
		margin-right: 0;
	}

	.login-name {
		display: inline-block;
		margin-right: 20px;
		@include OpenS;
		letter-spacing: 0.01em;
		cursor: pointer;
	}


	&__open-btn::before {
		position: absolute;
		top: 3px;
		left: -14px;
		display: block;
		content: "";
		width: 13px;
		height: 12px;

		background-image: url("../img/user.svg");

		cursor: pointer;
	}

	&__open-btn:hover,
	&__compare:hover,
	&__cart:hover {
		opacity: 0.6;
	}

	&__open-btn:active,
	&__compare:active,
	&__cart:active {
		opacity: 0.3;
	}

	&__compare {
		width: 89px/1140px*100%;
		margin-left: 10px;
		margin-right: 41px;
		position: relative;
		padding-left: 10px;

		button {
			@include OpenS;
			color: #000000;
			letter-spacing: 0.15px;

			background-color: transparent;

			border: none;

			cursor: pointer;
		}
	}

	&__compare::before {
		position: absolute;
		top: 4px;
		left: -10px;
		display: block;
		content: "";
		width: 10px;
		height: 10px;

		background-image: url("../img/compare.svg");

		cursor: pointer;
	}

	&__cart {
		width: 82px/1140px*100%;
		margin-left: 12px;
		padding-left: 12px;
		position: relative;

		button {
			@include OpenS;
			color: #000000;
			letter-spacing: 0.15px;

			background-color: transparent;

			border: none;

			cursor: pointer;
		}
	}

	&__cart::before {
		position: absolute;
		top: 3px;
		left: -12px;
		display: block;
		content: "";
		width: 12px;
		height: 12px;

		background-image: url("../img/cart.svg");

		cursor: pointer;
	}
}

.nav-menu {}

.menu-box {
	position: relative;
	margin-bottom: 40px;
}

.menu {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&__item {
		a {
			color: #000000;
			@include Gilroy;
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 3.3px;
		}
	}

	&__item:first-child {
		position: relative;
		margin-right: 320px;
	}

	&__item:nth-child(2) {
		margin-right: 38px;
	}

	&__item:nth-child(3) {
		margin-right: 105px;
	}

	&__item {
		a:hover {
			opacity: 0.6;
		}
	}

	&__item {
		a:active {
			opacity: 0.3;
		}
	}
}

.plus {
	position: relative;

	cursor: pointer;
}

.plus::before {
	position: absolute;
	top: 35%;
	left: 16px;
	display: block;
	width: 16px;
	height: 2px;
	content: "";

	background-color: #b9a974;
}

.plus::after {
	position: absolute;
	top: 35%;
	left: 16px;
	display: block;
	width: 16px;
	height: 2px;
	content: "";

	background-color: #b9a974;

	transform: rotate(90deg);
}

#plus-checkbox:checked~.menu-box .menu .plus::after {
	opacity: 1;
}

#plus-checkbox~.menu-box .menu .plus::after {
	opacity: 0;

	transition: opacity 0.5s linear, transform 0.5s ease-out;
}

#plus-checkbox:checked~.dropdown-menu {
	display: none;

}

.dropdown-menu {
	position: relative;
	display: block;

	width: 100%;

	z-index: 100;
}

.dropdown-catalog {
	position: absolute;
	left: 0;
	height: 130px;
	z-index: 100;
	background-color: #f7e296;
}

.dropdown {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-gap: 25px 60px;

	z-index: 100;

	&__item {

		a {
			display: inline-block;
			color: #000000;
			@include OpenS;
			font-size: 15px;
			letter-spacing: 0.15px;
			text-transform: none;
		}

		a:hover {
			color: rgba(0, 0, 0, 0.6);
		}
a:active {
			color: rgba(0, 0, 0, 0.3);
		}
	}

	&__item:nth-child(1) {
		grid-column: 1 / span 3;
		grid-row: 1 / 2;

	}

	&__item:nth-child(2) {
		grid-column: 1 / span 3;
		grid-row: 2 / 3;

	}

	&__item:nth-child(3) {
		grid-column: 1 / span 3;
		grid-row: 3 / 4;

	}

	&__item:nth-child(4) {
		grid-column: 4 / span 3;
		grid-row: 1 / 2;

	}

	&__item:nth-child(5) {
		grid-column: 4 / span 3;
		grid-row: 2 / 3;

	}

	&__item:nth-child(6) {
		grid-column: 7 / span 2;
		grid-row: 1 / 2;
	}
}

.dd_c {
	padding-left: 60px;
}